<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Child page: <%= child.name %></h1>
    <p><%= child.name %> is <%= child.age %> years old.</p>
</body>
</html>